<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
</head>
<body>
    <h1 class = 'text-center alert alert-info' style='color:red;'>Hello,{{ user.username }}</h1>
    <div class="container">
        <div class="row">
            <strong>Your First Name:</strong> <span class="bold">{{user.first_name}}</span>
        </div>
        <div class="row">
            <strong>Your Last Name:</strong> <span class="bold">{{user.last_name}}</span>
        </div>
        <div class="row">
            <strong>Your Full Name:</strong> <span class="bold">{{user.get_full_name}}</span>
        </div>
        <div class="row">
            <strong>Your UserName:</strong> <span class="bold">{{user.username}}</span>
        </div>
        <div class="row">
            <strong>Your Email:</strong> <span class="bold">{{user.email}}</span>
        </div>
        Want to logout from this account?
        <a href="{% url 'account_logout' %}" class='btn btn-danger'>loggout</a>
    </div>
    <hr class='line'>
    <div class="text-center alert-warning">
        <h1>Want to check other Registered Users?</h1>        
    </div>
    <div class="container mt-4">
      {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      {% endfor %}
    {% endif %}
        <div class="col justify-content-center">
          <div class="col-md-12">
            <form class="form-inline" action='{% url 'search' %}' method = 'post'>
                {% csrf_token %}
              <div class="input-group">
                <h2>Type user's <strong>first name</strong> or <strong>email</strong> or <strong>last Name</strong> to find him.. or you can see all users by entering <strong>'all'</strong></h2>
                {% comment %} <input class="form-control search-bar" type="search" name='search' placeholder="{{search}}" aria-label="Search"> {% endcomment %} <!--this will not add our query in search bar if we use form -->
                <input class="form-control search-bar" type="search" name='search' value='{{forms.search.value| default:''}}' aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% if users %}
      <div class="container mt-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
              <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      {% endif %}
</body>
</html>