<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/all.css' %}">
   <!-- Link to your CSS file for styling -->
</head>
<body>
  <div class="container">
    <h2>Sign Up</h2>
    <hr>
    <div class="google-login mt-1 mb-1">
      <button>
        <a href="{% provider_login_url 'google' method='oauth2' %}">
          <img src='{% static 'app/images/google.jpg' %}' alt="Google Logo" class="google-logo" width='30px'>
        <span>Login with Google</span>
        </a>
      </button>
    </div>
    <strong class='text-center alert'>OR</strong>
    {% for message in messages %}
      <span class='{{ message.tags }}'>{{ message }}</span>
    {% endfor %}
    <form action="{% url 'signup' %}" method="POST" novalidate>
        {% csrf_token %}
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" value='{{firstName}}' required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" value='{{lastName}}' required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value='{{email}}' required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value='{{password}}' required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value='{{username}}' required>
      </div>
      <button class='submit' type="submit">Sign Up</button> <br>
      <strong>Already have an Account:</strong> <button class = 'btn btn-info'><a class='login' href="{% url 'login' %}">Login now</a></button>
      <br>  
    </form>
    

  </div>
  <script src="{% static 'app/js/popper.js' %}"></script>
  <script src="{% static 'app/js/jquery.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.js' %}"></script>
</body>
</html>
